 plus-jakarta-sans- {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500
}
body{
    font-family: "plus jakarta sans", sans-serif;
    background-color: #ffffff;
}   
.title{
    color: black;
    padding: 15px;
    display: flex;
    text-align: center;
}
#form{
    width: 300px;
    font-size: 10px;
    margin: 50px auto;
    padding: 2px;
    background-color: #f3f7f2;
    border-radius: 30px;
}

 .f1{
    border-radius: 20px;
    padding: 5px;
    border-color: aquamarine; 

}

input{
    padding: 10px;
    border-radius: 15px;
    width: 250px;
    border-color: rgb(18, 65, 32);
    font-weight: 200;
}  
.mit{
    width: max-content;
    border-radius: 30px;
    padding: 5px;
    font-size: 15px;
    text-align: justify;
    font-weight: 100;
    display: flex;
    transition: 0.3;
    margin-left: 5px;
    border-color: rgb(18, 65, 32);
}

.mit:hover{
background-color: #bce6b4;
}

label{
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 10px;
    

}

.error{
    display: block;
    margin-top: 3px;
    font-size: 8px;
    padding: 5px;
}

#success{
    margin-top: 15px;
    font-weight: bold;
    padding: 5px;
}